body {
  margin: 0;
  font-family: "unset";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: unset;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.list ul {
  list-style-type: none; /* Remove the default bullets */
  padding-left: 20px; /* Add some left padding to the list items */
}

.list ul li::before {
  content: "•"; /* Set the content to a bullet character (•) */
  color: rgb(
    164,
    69,
    237
  ) !important; /* Change the color to your desired color */
  margin-right: 5px; /* Add some space between the bullet and the text */
}
